html, body {
	margin:0;
	padding:0;
}
body{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	background-color: #eee;
	color: #FFF;
	font-size: 75%;
}

div#page {
	width: 1024px;
	
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border:solid 1 #444;
}

div#page1 {
	width: 600px;
	
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}
