body{
	background-color: #fff;
	color: #000;
}
a{
	color: #444;
}
h2 {
	color: #ccc;
}
div#page {
	background-color: #A9F5A9;
	border-color: #222;
}
div#footer {
	color: #888;
}
div.caption-container {
	color: #444;
        
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}

div.photo-index {
	color: #CCC;
}
div.navigation a.prev {
	background-image: url(prevPageArrowWhite.gif);
}
div.navigation a.next {
	background-image: url(nextPageArrowWhite.gif);
}
div.loader {
	background-image: url(loaderWhite.gif);
}
div.slideshow img {
	border-color: #333;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
div.pagination a:hover {
	background-color: #111;
}
div.pagination span.current,div.pagination span.current1 {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}


div#page {
	width: 1024px;
	
	margin: 0 auto;
	text-align: left;
	border:solid 1 #444;
}

div#page1 {
	width: 600px;
	
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}
