/* 
    Document   : theme
    Created on : Aug 10, 2012, 9:10:45 AM
    Author     : abdulnizam
    Description:
        Purpose of the stylesheet follows.
*/



/* sub-menu */

#sub-menu
{
	
	margin: 0 0 0 -30px;
	
	list-style: none;  
      
}

#sub-menu li
{
   
	float: left;
	margin-top: -3px;
	
	line-height: 0;

}


#sub-menu a 
{
	float: left;
	height: 20px;
	padding: 0 7px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	
}

#sub-menu li a:hover /* IE6 */
{
	color: #fafafa;
		
}

*html #sub-menu li a:hover /* IE6 */
{
	color: #fafafa;
		
}

#sub-menu li:hover > ul
{
	display: block;
}

/* Sub-sub-menu */

#sub-menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#sub-menu ul ul
{
  top: 0;
  left: 150px;
}

#sub-menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#sub-menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#sub-menu ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #sub-menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #sub-menu ul a /* IE7 */
{    
   
	height: 10px;
}

#sub-menu ul a:hover
{
    background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#sub-menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#sub-menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 90px;
    top: -4px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#sub-menu ul ul li:first-child a:after
{
    left: -8px;
    top: 20px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#sub-menu ul li:first-child a:hover:after
{
    
    border-bottom-color: #04acec; 
}

#sub-menu ul ul li:first-child a:hover:after
{
    
    border-right-color: #04acec; 
    border-bottom-color: transparent; 	
}


#sub-menu ul li:last-child > a
{
    
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#sub-menu:after 
{
    
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #sub-menu             { zoom: 1;  } /* IE6 */
*:first-child+html #sub-menu { zoom: 1; } /* IE7 */


*, :active, :focus {
outline: 0;
outline-style: none;
outline-width: 0;
-moz-outline-width: 0;
}
 #account-name{
                    float: left; 
                    font-family:  sans-serif;
                    font-size: 24px;
                    font-weight: bold;
                    color: #fff;
                     width: 200px;   
                    margin: 0;
                    padding: 2px 6px 2px 8px;
                    list-style: none;  
                    background: #111;
                    background: -moz-linear-gradient(#444, #111); 
                    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
                    background: -webkit-linear-gradient(#444, #111);	
                    background: -o-linear-gradient(#444, #111);
                    background: -ms-linear-gradient(#444, #111);
                    background: linear-gradient(#444, #111);
                    -moz-border-radius: 0px 0px 5px 5px;
                    -webkit-border-radius: 0px 0px 5px 5px;
                    border-radius: 0px 0px 5px 5px;

                }
                #account-tab{
                    width: 760px;float: left; height: 25px; margin-top: 0px; 
                    margin-left: 1px;
                    padding: 10px 7px 0 0;
                    list-style: none;  
                    background: #111;
                    background: -moz-linear-gradient(#444, #111); 
                    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
                    background: -webkit-linear-gradient(#444, #111);	
                    background: -o-linear-gradient(#444, #111);
                    background: -ms-linear-gradient(#444, #111);
                    background: linear-gradient(#444, #111);
                    -moz-border-radius: 0px 0px 5px 5px;
                    -webkit-border-radius: 0px 0px 5px 5px;
                    border-radius: 0px 0px 5px 5px;

                }
               
         /* sub tab */
         
         
     /* left side div  */
     
     #secondarydiv{
         width:200px; float:left;
    border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px; 
        background-color: #85C5F7;
        padding: 30px 10px 40px 10px;
        
}
#maincontainer{
    float: left;
    height: 30px;
    width: 1000px;
}
.smallheaderfont{
	font-size:12px; font-weight:bold; font-family:Verdana, Geneva, sans-serif;
}
#favorite ul{
    font-size: 10px;
    
    display: inline-block;
    margin-left: -35px;
    text-decoration: none;
}
#favorite ul li{
    display: inline;
    margin-top: 4px;
}
#favorite ul li a{
    text-decoration: none;
    
    cursor: pointer;
    font-weight: bold;
    color: #000;
    width: 150px;
    height: 20px;
   
   
}

#favorite ul li a:hover{
    text-decoration: underline;
   
}

/* left div ends*/

/* center div begin */

#tridiv{
     border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px; 
        background-color: #66CCFF;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 15px; padding-bottom: 20px;
        
}

span.span_edit {
            position: absolute;
               width: 40px;
               display: none;
		color: red;
              
		font-weight: bold;
	}
        #sp{
            background-color: #dddfdc;
        }
        #sp a{
            text-decoration: none; cursor: pointer; color: #000;
        }
         #sp a:hover{
            text-decoration: underline;color: #000;
        }
        #sp1{
            background-color: #dddfdc;
        }
        #sp1 a{
            text-decoration: none; cursor: pointer; color: #000;
        }
         #sp1 a:hover{
            text-decoration: underline;color: #000;
        }
         #proic{
            background-color: #dddfdc;
             border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
        padding: 4px;
        
            
        }
        
        
        #profilepic{
            border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
        -moz-box-shadow: 0px 0px 5px 5px rgba(68,68,68,0.6);
        -webkit-box-shadow: 0px 0px 5px 5px rgba(68, 68, 68, 0.6);
        -ms-box-shadow: 0px 0px 5px 5px rgba(68,68,68,0.6);
        box-shadow: 1px 1px 2px 2px rgba(68, 68, 68, 0.6);

        }
        #secondarypic1-img,#secondarypic2-img{
            border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
        }
         #secondarypic1,#secondarypic2{
            border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
        }
        #proic a{
            text-decoration: none; cursor: pointer; color: #000;
        }
         #proic a:hover{
            text-decoration: underline;color: #000;
        }
        
        
        #stature-div{
   border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
        background-color: #6699FF;
        -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
        -moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
        box-shadow: 3px 3px 4px rgba(0,0,0,.5);
}
/* text area expand */
.status-post-div ul{
	float:left;
	display:block;
	width:100px;
	margin-top:10px;
}
.status-post-div ul li{
	display:inline;
	border-radius: 8px;
	box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	-moz-border-radius: 8px;
	padding:2px 10px;
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	background: #6699FF;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	
}
.status-post-div ul li a{
	text-decoration:none;
}
.status-post-div ul li a:hover{
	color:#FFF;
}
.status-post-div{
	display:none;
	width:100%;
        float: left;
	background-color: #99FFFF;
	margin-left:-1px;
	margin-top:0px;
	border:solid 2px;
	border: solid 1px;
	
}

/*center div ends*/

/* right side div begin*/
#friends-div{
       border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px; 
        background-color: #7FB6E0;
        padding: 10px 10px 10px 10px;
}


   #boxscroll {
       width:100%; float:left; height: 300px;  
	
     overflow: auto;
     
}


/* right side div ends*/


/* user stream style */

.friendname{
	float:left;margin-top:20px; margin-left:10px; height:20px;
}

.writtenon{
	 height:20px; margin-top:10px; margin-left:20%; float:left; border:solid 1px; 
	
}
.userpic{
	width:50px; height:50px; margin-top:5px; margin-right:20px;float:right; border:solid 1px;
}
.username{
	float:right; margin-top:20px; margin-right:10px; font-size: 14px; font-weight: bold; height:20px;
}
.frdpic{
	width:50px; height:50px; margin-top:5px; margin-left:20px;float:left; border:solid 1px;
}
.dateitems{
	width:150px; height:20px;float:right; 
        font-size: 10px; font-weight: bold;
}
.statusitems{
	width:100%; margin-top:10px; float:left;  
       border-top: solid 2px #000; font-size: 12px; margin-left: -3px;
font-weight: bold;
padding-top: 3px;
}
.gap{
	width:100%; height:1px; float:right;
}
.commentbar{
	width:100%; height:20px; margin-top: 10px; margin-left: -3px; float:left; 
     border-bottom: solid #000 2px; border-top: solid #000 2px;
        font-size: 12px;
        padding: 3px;
}
.privacyitems{
	width:100px; margin-left:5px; height:20px;float:left; border:solid 1px; 
}
.closetag{
	width:20px; height:20px;float:left; border:solid 1px; 
}
.maindiv{
	width:100%; float:left;
         border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
       -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
box-shadow: 3px 3px 4px rgba(0,0,0,.5);
padding: 5px;
margin-left: -3px;
	
         background-color: tan;
}
.subdiv{
	width:100%; height:20px; float:left; 
}


@font-face {  
  font-family: Bleeding Cowboys ;  
  src: url(BleedingCowboys.ttf ) format("truetype");  
} 
.div-margin-gap{
 width: 100%;height: 20px; float: left;
}
.album-seper{
                  width:100px;
                   height:100px;
                   float:left;
                  border: solid 2px #FFF;
                       
}


/*  blog */		
.blog-main1-div{
	width:100%; 
margin-top:20px;
	float:left;
         border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
       -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
box-shadow: 3px 3px 4px rgba(0,0,0,.5);
      
	
         background-color: #fff;
	
}	
.blog-title-div{
	width:490px; font-size:28px; font-weight:bold; margin-left:10px;
	
}

.blog-title-div a{
	text-decoration:none;
	cursor:pointer;
	color:#000;
	font-size:28px;
  	font-weight:bold;
}
.blog-title-div a:hover{
	text-decoration:underline;
	
}
.blog-time-div{
	width:400px; font-size:12px; font-weight:bold; margin-top:-7px; 
	margin-left:20px;

}
.blog-content-div{
	width:400px; margin-left:20px; 
  font-size:16px; font-weight:bold;
	
}
.blog-img-div{
	width:400px; height:20px;  margin-left:20px;

}
.blog-vote-div{
	width:400px; height:20px; font-size:14px; font-weight:bold;   margin-left:20px;
	
}




/* admire */
.admire-main1-div{
	width:100%; 
margin-top:20px;
	float:left;
         border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
       -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
box-shadow: 3px 3px 4px rgba(0,0,0,.5);
      
	
         background-color: #fff;
	
}	
.admire-title-div{
	width:400px; font-size:16px; float:left; margin-top:20px; font-weight:bold; margin-left:10px;
	
	
}
.admire-title-div a{
	text-decoration:none;
	cursor:pointer;
	color:#000;
	font-size:16px;
  	font-weight:bold;
}
.admire-title-div a:hover{
	text-decoration:underline;
	
}

.admire-time-div{
	width:400px; font-size:10px; float:left; font-weight:bold; margin-top:2px; 
	margin-left:10px;

}
.admire-content-div{
	width:400px; margin-left:20px; 
  font-size:16px; font-weight:bold;
	
}

.admire-vote-div{
	width:400px; height:20px; font-size:14px; font-weight:bold;   margin-left:20px;
	
}
.pin-prof-pic{
	width:99%; margin:5px; height:75px;  float:right; overflow: hidden;
}


/* music tab*/

#musictab {



        right: 1px;
        bottom: 0px;
        width:100%; 
        height:28px; 
        position: fixed;
        margin: 0;
	padding: 10px 7px 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}



/* footer tab */

.foot-tab  ul{
                    display:block;
                    margin-top: -2px;
                    
                   margin-left: 10px;
                   
                }
               .foot-tab ul li{
                    display:inline-block; padding: 8px;
                    font-size: 12px;
                }
                .foot-tab ul li a{
                    text-decoration: none;
                    color: #ccc;
                    font-weight: bold;
                    cursor: pointer;
                }
                .foot-tab ul li a:hover{
                   text-decoration: underline;
                }
                
                .foot-tab{
                    float: right;
                }